<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App | {% block title %} {% endblock %}</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('main.home') }}">Home</a></li>
            <li><a href="{{ url_for('main.example_form') }}">WTF Forms Example</a></li>
        </ul>
    </nav>
    {% for message in get_flashed_messages() %}
    <div id="example-alert" style="background-color: red;" role="alert">
        {{message}}
    </div>
    {% endfor %}
    <main>
        {% block main_content %}
        {% endblock %}
    </main>
    <footer>
        © Copyright Your Entity
    </footer>
</body>

</html>