{% extends "main/base.html" %}
{% block title %}Example Form{% endblock %}

{% block main_content %}

    <form id="example-form" method="POST">
        {{ form.hidden_tag() }}

        <div>
            {{ form.field1.label }} {{ form.field1(class="form-field") }}
        </div>

        <div>
            {{ form.select_filed.label }} {{ form.select_filed(class="form-field") }}
        </div>

        <div>
            {{ form.email.label }} {{ form.email(class="form-field") }}
        </div>

        <div>
            {{ form.confirm_email.label }} {{ form.confirm_email(class="form-field") }}
        </div>


        {{form.submit(class="submit-button")}}
    </form>
{% endblock %}