<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Game | {% block title %} {% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script>
        WebFont.load({
          google: {
            families: ['Silkscreen']
          }
        });
      </script>
    <script src="{{ url_for('static', filename='vendor/phaser.min.js')}}"></script>
</head>

<body>
    <main>
        {% block main_content %}
        {% endblock %}
    </main>
    <script src="{{ url_for('static', filename='src/js/play.js')}}"></script>
    <script src="{{ url_for('static', filename='src/js/game.js')}}"></script>
</body>

</html>